.sub-header {
    h4 {
        margin: 10px 0;
    }
    .search-wrapper {
        max-width: 500px;
    }
}
.split-wrapper {
    display: flex;

    .split-separator {
        min-height: 100%;
        border-left: 1px dashed #bdbdbd;
        margin: 0 10px;
    }

    .split-container {
        flex: 1;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        padding: 7px 0 0 0;
        border-radius: 8px;
        min-height: 93%;
    }

    .split-side {
        width: 100%;
        h4 {
            margin-bottom: 24px;
        }
    }
}

.feature-category-label {
    padding-left: 8px;
    font-size: 14px;
}
