@import '../../../assets/sass/colors.scss';

.tooltip-content {
    display: flex;
    flex-wrap: wrap;

    hr {
        border: 1px dotted $light-gray;
        border-style: none none dotted;
        width: 100%;
    }
}

.tooltip-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
        font-family: Roboto;
        font-size: 14px;
        line-height: 16px;
        color: $light-gray;

        &:first-child {
            margin-right: 16px;
        }
    }
}

.tooltip-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .tooltip-circle {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            display: inline-flex;
            margin-right: 16px;
        }

        & .tooltip-categ-name {
            font-size: 14px;
            color: #828282;
            margin-right: 52px;
            white-space: nowrap;
        }

        & .tooltip-categ-percent {
            font-weight: 500;
            font-size: 14px;
            color: #4f4f4f;
            margin-left: auto;
        }
    }
}

.tooltip {
    &.show {
        opacity: 1;
    }

    & .tooltip-inner {
        padding: 16px;
        max-width: fit-content;
        height: 100%;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        background-color: #ffffff;
        opacity: 1;
    }

    & .arrow {
        &:before {
            border-top-color: #ffffff;
        }
    }
}

.categorical-wrapper {
    display: table;
    min-width: 265px;
    margin-left: auto;

    & .categorical-bar {
        border-radius: 16px;
        display: flex;
        height: 8px;
        width: 200px;
        overflow: hidden;
        margin-left: 24px;

        & div:last-child {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }
    }
}

.binary-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    & .binary-title-l {
        line-height: 8px;
        display: table-cell;
        margin-right: 8px;
    }

    & .binary-title-r {
        line-height: 8px;
        display: table-cell;
        margin-left: 8px;
    }

    & .binary-bar {
        border-radius: 16px;
        display: flex;
        height: 8px;
        width: 200px;
        overflow: hidden;

        & div:last-child {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }
    }
}

.categorical-data {
    &:not(:last-child) {
        border-right-style: solid;
        border-right-color: white;
    }
}

.binary-data {
    background: #383f67;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        content: attr(data-before);
        position: absolute;
        margin-bottom: 36px;
        font-size: 14px;
        line-height: 16px;
        color: #4f4f4f;
        display: block;
        width: 100%;
        text-align: center;
    }

    &:last-child {
        border: 1px solid #383f67;
        background: repeating-linear-gradient(-45deg, #383f67, #383f67 1px, #ffffff 0px, #ffffff 4px);
    }
}

.percent-text {
    color: #4f4f4f;
    font: 700;
    text-align: center;
}
