.donut-chart {
    .chart,
    .legend {
        display: inline-block;
        vertical-align: middle;
    }
    .chart {
        margin-right: 25px;
        width: 112px;
        height: 112px;
    }

    .legend {
        i {
            width: 8px;
            height: 8px;
            display: inline-block;
            margin-right: 8px;
            border-radius: 100%;
            vertical-align: middle;
        }
        li {
            margin-bottom: 8px;
        }
    }

    .donut {
        position: relative;
        span {
            &.percentage {
                color: #000;
                font-weight: bold;
                position: absolute;
                left: 10px;
                top: 39%;
                margin-top: 0;
                width: 92px;
                text-align: center;
                font-size: 21px;
            }
        }
    }
}
