.donut-chart {
    .chart,
    .legend {
        display: inline-block;
        vertical-align: middle;
    }
    .chart {
        margin-right: 25px;
        width: 112px;
        height: 112px;
    }

    .legend {
        i {
            width: 8px;
            height: 8px;
            display: inline-block;
            margin-right: 8px;
            border-radius: 100%;
            vertical-align: middle;
        }
        li {
            margin-bottom: 8px;
        }
    }
}
