@import '../../../assets/sass/colors.scss';
@import '../../../assets/sass/icons.scss';

.sibyl-select {
    font-size: 14px !important;
    .sibyl-select__control {
        min-height: 40px;
    }
    .sibyl-select__control,
    .sibyl-select__control--is-focused {
        &,
        &:hover {
            border: 1px solid $light-gray;
            border-radius: 8px;
            box-shadow: none;
        }
    }
    .sibyl-select__placeholder {
        color: #828282;
    }

    .sibyl-select__indicator-separator {
        display: none;
    }
    .sibyl-select__menu-list {
        .sibyl-select__option--is-focused,
        .sibyl-select__option--is-selected {
            background: $mid-gray;
            color: #4f4f4f;
            font-size: 14px;
        }

        .sibyl-select__option {
            padding-left: 15px;
        }
    }
    i {
        &.bullet {
            margin-right: 10px;
        }
    }

    .sibyl-select__placeholder {
        color: $light-gray;
    }

    input {
        &[type='text'] {
            height: 20px;
        }
    }
}
