.dash-controls {
    display: flex;
    li {
        flex: 1;
        margin-right: 10px;
        &.sep {
            flex: 0;
            border-right: 1px solid #e0e0e0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
