table {
    &.distrib-info {
        td {
            width: 50%;
            vertical-align: top;
            padding: 0 25px 0 0;
        }
    }
    .gray-box-wrapper {
        min-height: 192px;
    }
}
