$dark-red: #ff5146;
$light-blue: #2d9cdb;
$dark-blue: #20233c;
$dark-blue-100: #383f67;
$blue: #4e588e;
$light-gray: #bdbdbd;
$mauve: #788aef;
$dark-mauve: #8168e7;
$dark-gray: rgba(224, 224, 224, 0.4); //E0E0E0
$dark-gray-100: #828282;
$dark-gray-200: #4f4f4f;
$mid-gray: #f2f2f2;
$exp-bg: #f8f8f8;
$light-blue: #2f80ed;
$darkish-blue: #2462aa;
