@import './colors.scss';
input {
    outline: none;
    font-size: 14px;
    &[type='text'] {
        height: 40px;
        border-radius: 8px;
        border: 1px solid $light-gray;
        padding: 16px;
        width: 100%;
    }
    &::placeholder {
        color: $light-gray;
    }
}
