@import './colors.scss';
.arrow {
    &.red {
        path {
            fill: $dark-red;
        }
    }

    &.blue {
        path {
            fill: $light-blue;
        }
    }
}

i {
    &.bullet {
        border-radius: 100%;
        width: 10px;
        height: 10px;
        display: inline-block;
        cursor: pointer;
        &.red {
            background: #eb5757;
        }
        &.orange {
            background: #f2994a;
        }
        &.blue {
            background: #2d9cdb;
        }
        &.green {
            background: #27ae60;
        }
        &.gray {
            background: #ccc;
        }
    }
}
