@import './reset.scss';
@import './colors.scss';
@import './table.scss';
@import './icons.scss';
@import './form.scss';

.main-wrapper {
    width: 100%;
    min-width: 1024px;
    .dash-container {
        width: calc(100% - 224px);
        transition: width 0.2s ease-in-out, transform 0.2s ease-in-out;
        padding-bottom: 30px;
        transform: translateX(224px);
        &.full-width {
            width: calc(100% - 65px);
            transform: translateX(65px);
        }
    }
}

.blue-box {
    background: rgba($light-blue, 0.05);
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 30px;

    h4,
    p {
        color: #2462aa;
        margin-bottom: 15px;
    }

    h4 {
        font-weight: bold;
        margin-bottom: 8px;
        margin-top: 10px;
    }
}
