* {
    box-sizing: border-box;
}

body,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    color: #828282;
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    color: #000;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 22px;
}

ul {
    list-style-type: none;
}

.clear {
    clear: both;
    width: 100%;
    font-size: 0;
    line-height: 0;
}

table {
    width: 100%;
}
b {
    color: #000;
}

label {
    cursor: pointer;
}

.scroll-style::-webkit-scrollbar {
    width: 4px;
    height: 9px;
}

.scroll-style::-webkit-scrollbar-thumb {
    height: 3px;
    background-clip: padding-box;
    border-radius: 5px;
    background-color: #eae9e9;
}

.scroll-style::-webkit-scrollbar-track {
    border-radius: 5px;
}
