* {
    box-sizing: border-box;
}

body,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    color: #828282;
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    color: #000;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 22px;
}

ul {
    list-style-type: none;
}

.clear {
    clear: both;
    width: 100%;
    font-size: 0;
    line-height: 0;
}

table {
    width: 100%;
}
b {
    color: #000;
}
