table {
    border-collapse: collapse;
    width: 100%;
    b,
    th {
        color: #4f4f4f;
    }

    &.dash-table {
        tr {
            border-bottom: 1px solid #f2f2f2;
            &:hover {
                td {
                    background: rgba(242, 242, 242, 0.6);
                    transition: all 0.2s ease-in-out;
                }
            }

            &.table-loader {
                border-bottom: none;
                td {
                    padding: 10px !important;
                    &,
                    &:hover {
                        background: #fff;
                    }
                }
            }
        }

        th {
            font-weight: normal;
            text-align: left;
            padding: 20px;
        }

        th,
        td {
            &.align-right {
                text-align: right;
            }

            &.align-center {
                text-align: center;
            }

            &:last-child {
                padding-right: 50px;
            }
        }

        td {
            text-align: left;
            padding: 20px;

            &:last-child {
                border-bottom: none;
            }
        }

        .sort {
            min-width: 120px;
            li {
                display: inline-block;
                vertical-align: top;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
            button {
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
    }

    td {
        &.spaced {
            span {
                padding: 0 20px 0 0;
            }
        }
    }

    &.sticky-header {
        position: relative;
        th {
            background: #fff;
            position: sticky;
            top: 0;
            z-index: 1;
            box-shadow: 0px 1px 1px #f2f2f2;
        }
    }
}

.sticky-wrapper {
    overflow-y: auto;
    margin: 0 5px 5px 0;
    padding-bottom: 10px;

    &.scroll-style {
        min-height: 600px;
        max-height: 600px;
    }
}
